.Actions {
    justify-content: space-evenly;
    width: 100%;
}

.Attribute {
    background-color: white;
    border-color: black;
    border-style: solid;
    color: black;
    padding: 10px;
    text-align: center;
}

.Character {
    display: flex;
    flex-flow: column;
}

.Character > div {
    flex: 1;
}

.SavingThrow > div {
    background-color: white;
    border-color: black;
    border-style: solid;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.SavingThrowStat {
    padding-left: 5px;
    padding-right: 5px;
}

.SavingThrowTitle {
    flex-grow: 2;
    padding-left: 5px;
    padding-right: 5px;
}

.Skills {
    font-size: 16px;
}

.Tabs {
    padding: 5px;
}

.Tab {
    border: none;
    cursor: pointer;
    outline: none;
    padding: 2px;
    width: 33%;
}

.Tab:hover {
    background-color: #777;
}

.block {
    border: 2px solid red;
    margin: 5px;
}

.blockHeader {
    font-size: 16px;
    margin: 0;
    padding-bottom: 5px;
    user-select: none;
}

.block > div {
    padding: 5px;
}

.box {
    flex: 1;
    padding: 5px;
}

.box.attribute {
    font-family: "Courier New";
}

.box.name {
    flex: 10;
    text-align: start;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.row.CharacterHeader {
    padding: 5px;
    justify-content: space-between;
}

.row.Skill {
    justify-content: space-between;
}

.row.Tabs {
    justify-content: space-evenly;
}
