.ActionsTable {
  table-layout: fixed;
}

.NameCol {
  text-align: left;
}

td.BonusCol {
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
}

td.DamageCol {
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
}

td.NameCol {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

td.RangeCol {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}

.ActionsTable > tr > td {
  border-bottom: 1px solid rgba(255, 0, 0, 0.2);
  vertical-align: middle;
  word-break: break-word;
}
