.ActionsTableWrapper {
  composes: TableWrapper from './sheet.module.css';
}

.ActionsTableWrapper > table {
  table-layout: fixed;
}

.actionName {
  composes: bonusName from './sheet.module.css';
  text-align: left;
}

td.actionName {
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

td.bonus {
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
}

td.damage {
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
}

td.range {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}

.ActionsTableWrapper > table > tr > td {
  border-bottom: 1px solid rgba(255, 0, 0, 0.2);
  vertical-align: middle;
  word-break: break-word;
}

.check {
  composes: check from './sheet.module.css';
}
