* {
  box-sizing: border-box;
}

.Overlay {
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
}

.Overlay > div {
  margin: 5px;
}

.Overlay > div > * {
  margin-bottom: 15px;
}

.Header {
  display: flex;
  align-items: center;
  background-color: #c53131;  
  user-select: none;
}

.Header > div {
  padding: 5px;
  background-color: #c53131;
  color: white;
  font-weight: bold;
  cursor: pointer;
  outline: 0;
  border: none;
  text-shadow: 1px 1px black;
}

.NestedTabTitle::after{
  content: ' > ';
}

.NestedTabTitle:last-child::after {
  content: '';
}

.TabsRow {
  display: flex;
}

.Tab {
  flex: 1;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: none;
  padding: 0.5em 1em;
}

.selectedTab {
  flex: 1;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: none;
  padding: 0.5em 1em;
  background-color: #c53131;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

.Tab:not(.selectedTab):hover {
  background-color: #777;
}
