.AddButtonsRow {
  display: flex;
  justify-content: space-between;
  animation: slide-down 0.4s ease;
} @keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.AvatarWrapper {
  position: relative;
  flex: 1;
  width: 100%;
}

.Avatar {
  height: 100%;
  width: 100%;
}

.CharacterProfile {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: white;
  border: 1px solid white;
  outline: 0;
  padding: 0;
  cursor: pointer;
}.selected {
  border: 4px solid #c53131;
}

.CharacterTidbits {
  width: 100%;
  min-height: 32px;
}

.CharacterTidbits > div {
  max-width: 130px;
  padding-left: 2px;
  padding-right: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ErrorProfile {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: white;
  border: 1px solid white;
  outline: 0;
  padding: 0;
}

.ErrorProfile > span {
  color: red;
  font-size: 5em;
  text-align: center;
}

.InputForm {
  animation: slide-up 0.4s ease;
  margin-bottom: 5px;
} @keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.InputForm > label {
  display: flex;
  justify-content: space-between;
}

.InputForm > label > input {
  flex: 1;
  margin-left: 10px;
}

.Loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  margin: -40px 0px 0px -40px;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
} @keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.LoadingProfile {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: white;
  border: 1px solid white;
  outline: 0;
  padding: 0;
}

.RemoveProfile {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  height: 25px;
  width: 30px;
  border: 0;
  cursor: pointer;
  box-shadow: inset 0 0 10px black;
  background-color: red;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.Profiles {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-auto-rows: 180px;
  gap: 10px;
}

iframe[title='charSheet'] {
  height: 4000px;
  width: 4000px;
  position: fixed;
  z-index: -1;
}
