.SkillsTableWrapper {
  composes: TableWrapper from './sheet.module.css';
}

.bonusName {
  composes: bonusName from './sheet.module.css';
  text-align: left;
}

.bonusScore {
  composes: bonusScore from './sheet.module.css';
  text-align: right;
}

td.bonusScore {
  font-family: 'Courier New', Courier, monospace;
}

td.bonusName, td.bonusScore {
  border-bottom: 1px solid rgba(255, 0, 0, 0.4);
}

.check {
  composes: check from "./sheet.module.css";
}
