.StatBlock {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: white;
  color: black;
  border: 3px solid black;
  text-align: center;
  cursor: pointer;
}

.Attribute {
  composes: StatBlock;
  flex-flow: column;
  text-transform: capitalize;
}

.SavingThrow {
  composes: StatBlock;
  flex-flow: row;
  text-transform: uppercase;
}

.StatsBlockGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.StatsBlockHeader {
  text-align: center;
  font-size: large;
  margin: 0px 0px 5px 0px;
  user-select: none;
}

.statName {
  composes: bonusName from "./sheet.module.css";
}

.Attribute > div.statName {
  border-bottom: 1px solid black;
  font-size: 14px;
}

.SavingThrow > div.statName {
  padding-right: 5px;
  border-right: 1px solid black;
  font-size: 16px;
}

.bonusScore {
  composes: bonusScore from "./sheet.module.css";
  font-family: 'Courier New', Courier, monospace;
}

.Attribute > div.bonusScore {
  padding-top: 5px;
}

.check {
  composes: check from "./sheet.module.css";
}
