.Actions {
  table-layout: fixed;
}

.Actions > tr > td {
  border-bottom: 1px solid rgba(255, 0, 0, 0.2);
  vertical-align: middle;
  word-break: break-word;
}

.ActionName {
  font-size: medium;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ActionNameCol {
  text-align: left;
}

.Attribute {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: white;
  border-color: black;
  border-style: solid;
  color: #000000;
  padding: 10px;
  text-align: center;
}

.AttributeTitle {
  border-bottom: 1px solid black;
  flex: 1;
}

.CharacterTabs > .TabContent {
  background-color: white;
  color: black;
  padding: 5px;
}

.SavingThrow {
  display: flex;
  justify-content: center;
  background-color: white;
  border-color: black;
  border-style: solid;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.SavingThrowTitle {
  border-right: 1px solid black;
}

.SavingThrowStat {
  flex: 1;
}

.SavingThrow > div {
  padding-left: 5px;
  padding-right: 5px;
}

.SkillsAttrCol {
  padding-right: 3px;
}

.SkillsProfCol {
  text-align: center;
}

.StatBlock {
  border: 2px solid red;
  padding: 5px;
}

.StatBlockHeader {
  font-size: 16px;
  margin: 0;
  padding-bottom: 5px;
  user-select: none;
}

.action {
  cursor: pointer;
  user-select: none;
}

.action:hover {
  background-color: rgb(207, 207, 207);
}

.attr {
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
}

.bonus {
  font-family: 'Courier New', Courier, monospace;
}

.dataText {
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}