.Overlay {
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
}

.OverlayTabs > .TabContent {
  margin: 5px;
}

.OverlayTabs > .TabContent > div > * {
  margin-bottom: 10px;
}

.Actions {
  table-layout: fixed;
}

.Actions > tr > td {
  border-bottom: 1px solid rgba(255, 0, 0, 0.2);
  vertical-align: middle;
  word-break: break-word;
}

.ActionName {
  font-size: medium;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ActionNameCol {
  text-align: left;
}

.Attribute {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: white;
  border-color: black;
  border-style: solid;
  color: #000000;
  padding: 10px;
  text-align: center;
}

.AttributeTitle {
  border-bottom: 1px solid black;
  flex: 1;
}

.Avatar {
  flex: 1;
  width: 100%;
  vertical-align: middle;
}

.Character {
  min-height: 100%;
}

.CharacterProfile {
  position: relative;
  display: flex;
  flex-flow: column;
  background: white;
  border: none;
  cursor: pointer;
  outline: 1px solid white;
  padding: 0;
}

.CharacterSelectionInputForms {
  display: flex;
}

.CharacterSelectionInputForms > label {
  flex: 1;
}

.CharacterSelectionInputForms > label > input {
  width: 95%;
}

.CharacterTidbits {
  width: 130px;
  padding: 2px;
  background-color: white;
  color: black;
}

.CharacterTidbits > div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.CharacterTabs > .TabContent {
  background-color: white;
  color: black;
  padding: 5px;
}

.deleteProfileButton {
  position: absolute;
  right: 0px;
  height: 25px;
  width: 30px;
  border: 0;
  cursor: pointer;
  box-shadow: inset 0 0 10px black;
  background-color: red;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.SavingThrow {
  display: flex;
  justify-content: center;
  background-color: white;
  border-color: black;
  border-style: solid;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.SavingThrowTitle {
  border-right: 1px solid black;
}

.SavingThrowStat {
  flex: 1;
}

.SavingThrow > div {
  padding-left: 5px;
  padding-right: 5px;
}

.SkillsAttrCol {
  padding-right: 3px;
}

.SkillsBonusCol {
  text-align: right;
}

.SkillsNameCol {
  text-align: left;
}

.SkillsProfCol {
  text-align: center;
}

.StatBlock {
  border: 2px solid red;
  padding: 5px;
}

.StatBlockHeader {
  font-size: 16px;
  margin: 0;
  padding-bottom: 5px;
  user-select: none;
}

.Tab {
  flex: 1;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: none;
  padding: 0.5em 1em;
}

.Tab:hover {
  background-color: #777;
}

.action {
  cursor: pointer;
  user-select: none;
}

.action:hover {
  background-color: rgb(207, 207, 207);
}

.attr {
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
}

.bonus {
  font-family: 'Courier New', Courier, monospace;
}

.check {
  cursor: pointer;
  user-select: none;
}

.check:hover {
  background-color: rgb(207, 207, 207);
}

.dataText {
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}

.grid.twocol {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 10px;
}

.grid.threecol {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row.CharacterHeader {
  justify-content: space-between;
}

.row.Skill {
  justify-content: space-between;
}

.row.TabsRow {
  justify-content: space-evenly;
}

.table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

.underline {
  border-bottom: 1px solid rgba(255, 0, 0, 0.4);
}

h1 {
  text-align: center;
}

iframe[title='charSheet'] {
  height: 4000px;
  width: 4000px;
  position: fixed;
  z-index: -1;
}

td {
  padding-top: 2px;
  padding-bottom: 2px;
  vertical-align: bottom;
}

th {
  font-size: 12px;
  user-select: none;
}